<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Legends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>
          <ion-list-header>
            <ion-label>List of Names</ion-label>
          </ion-list-header>
          <!-- Iterando o array legends, que repetirá a tag ion-label, e setando a variável name para cada um dos itens do array -->
          <ion-item lines="full" *ngFor="let name of legends">
            <ion-label>
              {{name}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>